{% extends "base.html" %}
{% block content %}
    <div class="main">
     <main  style="color:white">
<h1>О нас</h1>

<h1>Мы являемся платформой для поиска хакатонов и любых других мероприятий в сфере IT.</h1>
<h1>Наша основная аудитория - это любые программисты, которые хотят создать свои мероприятия или найти чужие, на которые можно записаться.
Мы пытаемся улучшить поиск мероприятий и создать сообщетсво для программистов.</h1>
<h1>Наши контакты</h1>
<h1>89162825797</h1>
<h1>akogtevv@gmail.com</h1>
 </main>
    </div>
{% endblock %}