{% extends 'base.html' %}
{% block content %}


<div class="main">
    <main>
        <div class="main-content-item-event">
            <div class="main-content-item-event-wrapper">
                <div class="main-content-item-event-info">
                    <div class="main-content-item-event-info-title">
                        <span>BU`HACK</span>
                    </div>
                    <div class="main-content-item-event-info-type">
                        <span>Хакатон</span>
                    </div>
                    <div class="main-content-item-event-info-discription">
                        <span>
                            Это самый лучший хакатон на свете
                            приходи не пожалеешь мальчик тут дата саенс и алгоритмы
                            кейсы прямиком из беркли...
                        </span>
                    </div>
                    <div class="main-content-item-event-info-text">
                        <span>Организатор:</span>
                    </div>
                    <div class="main-content-item-event-info-organizer">
                        <span>Исаев Артём Олегович</span>
                    </div>
                </div>
                <div class="main-content-item-event-preview">
                    <img src="./img/2015-11-19-flora-opt-30-1.jpg" alt="">
                </div>
            </div>
            <div class="main-content-item-event-tags">
                <span>Теги: Pyton, Data Sciens, CS go, AI, бесплатная пицца.</span>
            </div>
        </div>
        <div class="main-content-item-expression">
            <div class="main-content-item-expression-img">
                <img src="./img/2015-11-19-flora-opt-30-1.jpg" alt="">
            </div>
            <div class="main-content-item-expression-info">
                <div class="main-content-item-expression-info-header">
                    <div class="main-content-item-expression-info-header-name">
                        <span>Программист_с_урала</span>
                    </div>
                    <div class="main-content-item-expression-info-header-date">
                        <span>3 марта</span>
                    </div>
                </div>
                <div class="main-content-item-expression-info-text">
                    <span>
                        Я вот играю в теннис и переписываюсь
                        со звездами тенниса и мы недавно пили вообще
                        там играли вместе, да и вообще я знаете ли своего рода
                        звезда, вы видели как я играю в теннис? Да я там просто
                        уничтожаю, я машина, люблю обнимашки.
                    </span>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
