
<div class="main">
    <main>
        <div class="main-content-item-event">
            <div class="main-content-item-event-wrapper">
                <div class="main-content-item-event-info">
                    <div class="main-content-item-event-info-title">
                        <span>Загалавие хакатона</span>
                    </div>
                    <div class="main-content-item-event-info-type">
                        <span>Т</span>
                    </div>
                    <div class="main-content-item-event-info-discription">
                        <span>
                            Это самый лучший хакатон на свете 
                            приходи не пожалеешь мальчик тут дата саенс и алгоритмы 
                            кейсы прямиком из беркли...
                        </span>
                    </div>
                    <div class="main-content-item-event-info-text">
                        <span>Организатор:</span>
                    </div>
                    <div class="main-content-item-event-info-organizer">
                        <span>Исаев Артём Олегович</span>
                    </div>
                </div>
                <div class="main-content-item-event-preview">
                    <img src="./img/2015-11-19-flora-opt-30-1.jpg" alt="">
                </div>
            </div>
            <div class="main-content-item-event-tags">
                <span>Теги: Pyton, Data Sciens, CS go, AI, бесплатная пицца.</span>
            </div>
        </div>
        <div class="main-content-item-expression">
            <div class="main-content-item-expression-img">
                <img src="./img/2015-11-19-flora-opt-30-1.jpg" alt="">
            </div>
            <div class="main-content-item-expression-info">
                <div class="main-content-item-expression-info-header">
                    <div class="main-content-item-expression-info-header-name">
                        <span>Пользователь</span>
                    </div>
                    <div class="main-content-item-expression-info-header-date">
                        <span>Дата</span>
                    </div>
                </div>
                <div class="main-content-item-expression-info-text">
                    <span>
                        Текст поста
                    </span>
                </div>
            </div>
        </div>
    </main>
</div>